<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What is on the picture?</title>
</head>
<body>
    <h1>What is on the picture?</h1>
    <img src="{{ user_image }}" alt="User Image" width="150" height="150">    
    <form action="/addlabel" method="post">
        Label: <select name='PicLabel'>
            <option value="airplane">airplane</option>
            <option value="automobile">automobile</option>
            <option value="bird">bird</option>
            <option value="cat">cat</option>
            <option value="deer">deer</option>
            <option value="dog">dog</option>
            <option value="frog">frog</option>
            <option value="horse">horse</option>
            <option value="ship">ship</option>
            <option value="truck" selected>truck</option>
          </select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>