<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What is on the picture?</title>
</head>
<body>
    <h1>What is on the picture?</h1>
    <p><img src="{{ user_image }}" alt="User Image" width="150" height="150"></p>    
    <p><form action="/addlabel" method="post">
        Label: <select name='PicLabel'>
            <option value="0">airplane</option>
            <option value="1">automobile</option>
            <option value="2">bird</option>
            <option value="3">cat</option>
            <option value="4">deer</option>
            <option value="5">dog</option>
            <option value="6">frog</option>
            <option value="7">horse</option>
            <option value="8">ship</option>
            <option value="9" selected>truck</option>
          </select></p>
    <p><input type="submit" value="Submit"></p>
    <p>{{ pred_value }}</p>
    </form>
</body>
</html>